<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student report</title>
  <%- include('partials/head') %>
  <script src="/javascripts/Chart.min.js"></script>
</head>
<body>
        
  <!-- <header class="container">
    <p class="text-right">
      <a class="btn btn-outline-primary btn-lg float-right" href="/logout">Log out</a>
    </p>
  </header> -->
  <nav class="navbar bg-4 ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Apprise</a>
          </div>
          <ul class="nav navbar-nav">
            <!-- <li><a href="/dash">Dash</a></li> -->
            <li><a href="/logout">Log out</a></li>
            <li><a href="/interactions/guardian">Contact Teacher</a></li>
            <li ><a href="javascript:history.go(-1)">Back</a></li>
            
          </ul>
        </div>
      </nav>

  <div class="container-fluid bg-1">
    <h2 class="text-center">Student report</h2>
    <hr>
    <div class="row">
            <h2 class="text-center">Student Report of:</h2>
            <h3 class="text-center"> 
               <%= info.studInfo.info.l_name %>, <%= info.studInfo.info.f_name %>
               -
               <%= info.studInfo.info.register_id %>
           </h3>
           <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"><hr></div>
           </div>
<!-- 
    <a href="/interactions/guardian" class="btn btn-primary btn-block">View teacher comments</a> -->
    <div class="row"> 

    <%Object.keys(info.allStudentInfo).slice(0, -1).forEach(key => {%>

    
      <h4>  Overall performance in <%= key %></h4>

      <div class="col-md-4 col-xs-12 col-sm-4 ">
        <canvas id="<%= key %>" class="chart-display" width="400" height="400"><span></span></canvas>
      </div>
    

    <script>
        let ctx_<%=key%> = document.getElementById('<%= key %>').getContext('2d');
        let data_<%=key%> = [];
        let labels_<%=key%> = [];
        <% info.allStudentInfo[key].forEach((val, ind) => {%>
        data_<%=key%>.push(<%=val%>);
        labels_<%=key%>.push(<%=info.allStudentInfo['emp_id'][ind]%>);
        <%})%>

        let graph_<%=key%> = new Chart(ctx_<%=key%>, {
            type: 'bar',
            data: {
                labels: labels_<%=key%>,
                datasets: [{
                    label: 'Marks in <%=key%>',
                    data: data_<%=key%>,
                    borderWidth: 1,
                    backgroundColor: '#ffffff'
                    
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                responsive: false,
                maintainAspectRatio: true
            }
        });
    </script>

    <%});%>
</div>

    <div class="row">
      

      <div class="col-md-4 col-xs-12 col-sm-4 col-sm-offset-4">
            <h4>Attendance</h4>
        <canvas id="attendance" width="400" height="400"></canvas>
      </div>
    </div>

    <script>
        var ctx_attendance = document.getElementById('attendance').getContext('2d');

        var pie_attendance = new Chart(ctx_attendance, {
            type: 'pie',
            data: {
                labels: ['attended classes', 'missed classes'],
                datasets: [{
                    data: [<%=info.attendance['attended']%>, <%=info.attendance['total'] -
                    info.attendance['attended']%>],
                    backgroundColor: ['#ffffff', '#2f2f2f'],
                    borderWidth: 1,
                    fontColor: '#ffffff'
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: true
            }
        })
    </script>
  </div>

  <%- include("partials/scripts") %>
</body>
</html>