<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student report</title>
  <%- include('partials/head') %>
  <script src="/javascripts/Chart.min.js"></script>
</head>
<body>
  <header class="container">
    <p class="text-right">
      <a class="btn btn-outline-primary btn-lg float-right" href="/logout">Log out</a>
    </p>
  </header>

  <div class="container">
    <h2 class="text-center">Student report</h2>
    <hr>

    <a href="/interactions/guardian" class="btn btn-primary btn-block">View teacher comments</a>

    <%Object.keys(info.allStudentInfo).slice(0, -1).forEach(key => {%>

    <div class="row">
      <h4>Overall performance in <%= key %></h4>

      <div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-4 col-sm-offset-4">
        <canvas id="<%= key %>" width="400" height="400"></canvas>
      </div>
    </div>

    <script>
        let ctx_<%=key%> = document.getElementById('<%= key %>').getContext('2d');
        let data_<%=key%> = [];
        let labels_<%=key%> = [];
        <% info.allStudentInfo[key].forEach((val, ind) => {%>
        data_<%=key%>.push(<%=val%>);
        labels_<%=key%>.push(<%=info.allStudentInfo['emp_id'][ind]%>);
        <%})%>

        let graph_<%=key%> = new Chart(ctx_<%=key%>, {
            type: 'bar',
            data: {
                labels: labels_<%=key%>,
                datasets: [{
                    label: 'marks in <%=key%>',
                    data: data_<%=key%>,
                    borderWidth: 1,
                    backgroundColor: '#e486f5'
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                responsive: false,
                maintainAspectRatio: true
            }
        });
    </script>

    <%});%>

    <div class="row">
      <h4>Attendance</h4>

      <div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-4 col-sm-offset-4">
        <canvas id="attendance" width="400" height="400"></canvas>
      </div>
    </div>

    <script>
        var ctx_attendance = document.getElementById('attendance').getContext('2d');

        var pie_attendance = new Chart(ctx_attendance, {
            type: 'pie',
            data: {
                labels: ['attended classes', 'missed classes'],
                datasets: [{
                    data: [<%=info.attendance['attended']%>, <%=info.attendance['total'] -
                    info.attendance['attended']%>],
                    backgroundColor: ['#ff6767', '#67ff88'],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: true
            }
        })
    </script>
  </div>

  <%- include("partials/scripts") %>
</body>
</html>