<!DOCTYPE html>
<html lang="en">
<head>
  <title>lead class student</title>
  <%- include('partials/head') %>
  <script src="/javascripts/Chart.min.js"></script>
</head>
<body>
  
  
  <nav class="navbar bg-4 ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Apprise</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/dash">Dash</a></li>
          <li><a href="/logout">Log out</a></li>
          <li><a href="/interactions/teacher/<%=info.personalInfo['Register ID']%>">Contact Parent</a></li>
          <li ><a href="javascript:history.go(-1)">Back</a></li>
         
         
        </ul>
      </div>
    </nav>
   

  <div class="container-fluid bg-1">
    <h2 class="text-center top_margin animated zoomIn">Student report</h2>

   <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1"><hr></div>
   </div>


    <!--navs for tab-->
    <div id="tab-nav top_margin">
      <ul class="nav nav-pills custom-nav">
        <li class="active"><a href="#details" data-toggle="tab">Personal info</a></li>
        <li><a href="#performance" data-toggle="tab">Performance</a></li>
      </ul>
    </div>
  <br>

  <!--content for tabs-->
  <div class="tab-content bg-1">
    <!--personal info-->
    <div class="tab-pane active in fade text-center" id="details">
      <h3 class="text-center text-uppercase">Student Information</h3>
<!-- 
      <a href="/interactions/teacher/<%=info.personalInfo['Register ID']%>" class="btn btn-primary btn-block">View parent/guardian comments</a> -->

      <div class="details">
          <%for (key in info.personalInfo) {%>
            <div class="float-box">
                <!--TODO can't align it to centre-->
                <h3><%= key %></h3>
                <div class="well well-bg animated zoomIn"> <%= info.personalInfo[key] %></div>
              </div>
              <%}%>
      </div>

    </div>

    <!--performance-->
    <div class="tab-pane fade text-center" id="performance">
      <!--add charts to the document-->
      <%Object.keys(info.allStudentInfo).slice(0, -1).forEach(key => {%>

        <div class="floating-box animated slideInUp">
            <h4>Overall performance in <%= key %></h4>
          <canvas id="<%= key %>" width="400" height="400"></canvas>
        </div>
     

      <script>
          let ctx_<%=key%> = document.getElementById('<%= key %>').getContext('2d');
          let data_<%=key%> = [];
          let labels_<%=key%> = [];
          <% info.allStudentInfo[key].forEach((val, ind) => {%>
          data_<%=key%>.push(<%=val%>);
          labels_<%=key%>.push(<%=info.allStudentInfo['emp_id'][ind]%>);
          <%})%>

          let graph_<%=key%> = new Chart(ctx_<%=key%>, {
              type: 'bar',
              data: {
                  labels: labels_<%=key%>,
                  datasets: [{
                      label: 'marks in <%=key%>',
                      data: data_<%=key%>,
                      borderWidth: 1,
                      backgroundColor: '#ffffff'
                  }]
              },

              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  },
                  responsive: false,
                  maintainAspectRatio: true
              }
          });
      </script>

      <%});%>
   

      <div class="row top_margin">
        

        <div class="floating-box">
            <h4>Attendance</h4>
          <canvas id="attendance" width="400" height="400"></canvas>
        </div>
      </div>

      <script>
          var ctx_attendance = document.getElementById('attendance').getContext('2d');

          var pie_attendance = new Chart(ctx_attendance, {
              type: 'pie',
              data: {
                  labels: ['attended classes', 'missed classes'],
                  datasets: [{
                      data: [<%=info.attendance['attended']%>, <%=info.attendance['total'] -
                            info.attendance['attended']%>],
                      backgroundColor: ['#ffffff', '#2f2f2f'],
                      borderWidth: 1
                  }]
              },
              options: {
                  responsive: false,
                  maintainAspectRatio: true
              }
          })
      </script>
    </div>
  </div>
</div>

  <%- include("partials/scripts") %>
</body>
</html>