<!DOCTYPE html>
<html lang="en">
<head>
  <title>lead class</title>
  <%- include('partials/head') %>
  <script src="/javascripts/Chart.min.js"></script>
</head>
<body>
  <%- include('partials/header') %>

  <div class="container bg-1">
    <h2 class="text-center">Your Classroom</h2>
    <hr>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>No</th>
        <th>Reg id</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
      </thead>

      <tbody>
      <% info.students.forEach((row, index) => {%>
      <tr class="clickable-row" data-href="<%= row.register_id %>">
        <td><%= index + 1 %></td>
        <td><%= row.register_id %></td>
        <td><%= row.f_name %></td>
        <td><%= row.l_name %></td>
      </tr>
      <% }); %>
      </tbody>

    </table>
  </div>

  <%- include("partials/scripts") %>
</body>
</html>